/* COLORES */
:root {
    --dark-green: #0FA929;
    --light-green: #35ee54;
    --brown: #aa5114;
    --orange: #dc9510;
    --white: #f4ead7;
}

/* HEADER */
.header-area .main-menu,
.header-area .main-menu .dropdown-menu {
    background: var(--orange);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.5);
}

.header-area .main-menu .navbar {
    height: 70px;
}

.header-area .main-menu .navbar .navbar-brand {
    font-size: 14px;
    color: var(--white);
    padding: 8px;
}

.header-area .main-menu .navbar .navbar-brand:hover {
    font-style: italic;
    font-weight: 600;
}

.header-area .main-menu .navbar .nav-link {
    font-size: 14px;
    color: var(--white);
    padding: 8px;
}

.header-area .main-menu .navbar .nav-link:hover {
    font-style: bold;
    font-weight: 600;
}