/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .header-area .main-menu .navbar .navbar-brand {
        font-size: 12px;
        padding: .5rem, 1rem;
    }

    .header-area .main-menu .navbar .nav-link {
        font-size: 12px;
        padding: .5rem, 1rem;
    }

    .card-container .card {
        max-width: 240px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header-area .main-menu .navbar .navbar-brand {
        font-size: 16px;
    }

    .header-area .main-menu .navbar .nav-link {
        font-size: 16px;
    }

    .main-info {
        padding-bottom: 42px;
        margin-bottom: 78px;
    }

    .main-info .container {
        bottom: -50px;
    }

    .card-container .card {
        max-width: 360px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header-area .main-menu .navbar .navbar-brand {
        font-size: 20px;
    }

    .header-area .main-menu .navbar .nav-link {
        font-size: 20px;
    }

    .card-container .card {
        max-width: 240px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header-area .main-menu .navbar .navbar-brand {
        font-size: 24px;
    }

    .header-area .main-menu .navbar .nav-link {
        font-size: 24px;
    }

    .card-container .card {
        max-width: 360px;
    }
}

/* BODY */
body {
    background-image: linear-gradient(lightgreen, white);
}

/* INFO */
.main-info {
    padding: 3em .5em;
    position: relative;
    z-index: 1;
    margin-bottom: 49px;
}

.main-info .container {
    border-radius: 30px;
    position: initial;
    bottom: -50px;
    background: #fff;
    padding: 15px 15px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 1);
}

.main-info .container .img-col .img-container > img {
    width: 50%;
    height: 40%;
    border-radius: 50%;
}

.main-info .container .txt-col .text-container {
    margin: 20px auto 0 auto;
    width: 90%;
}

.main-info .container .txt-col .text-container h4{
    font-size: 16px;
}

.main-info .container .txt-col .text-container p{
    font-size: 16px;
    color: var(--brown);
    margin-bottom: 20px;
}

.main-info .container .txt-col .text-container ul.basic-info{
    padding-left: 0px;
}

.main-info .container .txt-col .text-container ul.basic-info > li{
    margin-bottom: 8px;
}

.main-info .container .txt-col .text-container ul.basic-info > li > i{
    margin-right: 4px;
    color: var(--dark-green);
}

.main-info .container .txt-col .text-container ul.social-nw{
    margin-top: 20px;
    padding-left: 0;
}

.main-info .container .txt-col .text-container ul.social-nw > li{
    margin-right: 20px;
}

.main-info .container .txt-col .text-container ul.social-nw > li > i{
    font-size: 40px;
    color: var(--dark-green);
}

/* SKILLS */

.skills {
    padding: 20px 42px;
    position: relative;
    z-index: 1;
    margin-bottom: 49px;
}

.skills .container {
    border-radius: 30px;
    position: initial;
    bottom: -50px;
    background: #fff;
    padding: 15px 15px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 1);
}

.skill-item {
    margin-bottom: 24px;
}

.skill-item .text {
    margin-bottom: 8px;
}

.skill-item .progress .progress-bar{
    height: 30px;
    border-radius: 5px;
    vertical-align: middle;
    align-self: center;
}

/* PROYECTOS */
.portfolio {
    padding: 3em .5em;
    position: relative;
    z-index: 1;
    margin-bottom: 49px;
}

.portfolio .container {
    border-radius: 30px;
    position: initial;
    bottom: -50px;
    background: #fff;
    padding: 15px 15px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 1);
}

.card-container .card {
    max-width: 360px;
    margin-top: 16px;
}

.card-container .card-container i {
    font-size: 80px;
    color: var(--dark-green);
}

.card-container .card h5 {
    margin-top: 12px;
    margin-bottom: 8px;
    opacity: 0.8;
}